:root {
  background-color: rgb(255, 245, 232);
}

body {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  column-gap: 17px;
}

.botao {
  font-weight: bold;
  font-size: 32px;
  border: 2px solid;
  border-radius: 5px;
  padding: 8px 14px;
  cursor: pointer;
}

.botao-on {
  background-color: rgb(162, 213, 9);
  color: rgb(33, 79, 33); 
}

.botao-on:hover {
  background-color: rgb(232, 254, 163);
}

.botao-on:active {
  color: rgb(232, 254, 163);
  background-color: rgb(162, 213, 9);
  border-color: rgb(33, 79, 33); 
}

.botao-off {
  background-color: rgb(117, 0, 16);
  border: 2px solid rgb(42, 1, 7);
  color: rgb(248, 198, 205);
  transition: all 0.15ms;
}

.botao-off:hover {
  background-color: rgb(253, 149, 162);
  color: rgb(117, 0, 16);
}

.espaco-malha {
  display: grid;
  grid-template-columns: repeat(3, 100px);

}

.pixel {
  border: 1px solid rgb(1, 39, 64);
  width: 100px;
  height: 100px;
}

.pixel-on {
  background-color: rgb(0, 111, 185);
}

.pixel-off {
  background-color: rgb(255, 250, 250);
}
